<%- include('partials/head'); %>
    <title>Red Pers - <%- article[0].title.rendered %></h2></title>
    <link rel="stylesheet" href="/styles/article.css">
  </head>
  <body>
<%- include('partials/header'); %>

<!-- START MAIN -->

<main>
<div class="article-page-container">
  <article class="article-page">
    <div class="article-featured-image-container">
      <img
      class="article-featured-image"
      src="<%= article[0].yoast_head_json.og_image[0].url %>"
      alt="<%= article[0].yoast_head_json.schema['@graph'][2].caption %>"
      />
    </div>
    <div class="article-category-date-like-container">
      <div class="article-category-date-container">
        <p class="article-category"><%= article[0].categories[0]%></p>
        <p class="article-post-date"><%= article[0].date %></p>
      </div>

      <!-- START LIKE INTERACTION -->
      
      <%- include('partials/like'); %>

      <!-- END LIKE INTERACTION -->

    </div>
    <div class="article-title-container">
      <h2 class="article-title"><%- article[0].title.rendered %></h2>
    </div>
    <span class="article-excerpt"><%- article[0].excerpt.rendered %></span>
    <div class="article-author-reading-time-container">
    <p class="article-author">Auteur: <strong><%= article[0].author %></strong></p>
    <p class="article-reading-time">Leestijd: <strong><%= article[0].yoast_head_json.twitter_misc["Geschatte leestijd"] %></strong>
    </p>
    </div>
    <div class="article-content"><%- article[0].content.rendered %></div>
  </article>
</div>
</main>

<!-- END MAIN -->

<%- include('partials/footer'); %>
